version: '3.8'

services:
  db:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
  web:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  mongo_data: